div {
    text-align: left;
    display:inline-block;
    padding: 15px;
    margin: 15px;
}

div.outer {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: helvetica, sans-serif;
    size: 30px;
}

/* #title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
 #products {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
  
#products td, #products th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#products tr:nth-child(even){background-color: #f2f2f2;}
  
#products tr:hover {background-color: #ddd;}
  
#products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
} */
